/* src/components/OrderQuantitySelector/OrderQuantitySelector.module.css */
.selector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 1rem;
}

.boton {
  background-color: #f0f0f08d;
  color: black;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.cantidad {
  color: var(--color-logo);
  font-family: var(--font-category);
  font-size: 1rem;
}
