.contenedor {
  max-width: 480px;
  margin: 0 auto;
  padding: 1.5rem 1rem;
  background-color: var(--color-background);
  min-height: 100vh;
}

.titulo {
  font-family: var(--font-title);
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-logo);
}

.bloque {
  margin-bottom: 1.5rem;
}


.categoria {
  background-color: #ffffffde;
  padding: 0.5rem;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 0.5rem;
}

.pedidosSelector {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  max-width: 480px;
  gap: 5px;
  margin: 20px 0;
}

.pedidoBoton {
  font-family: var(--font-category);
  font-weight: bold;
  font-size: 0.75rem;
  padding: 8px 16px;
  border: 1px solid #000;
  background-color: #ffffff8d;
  cursor: pointer;
  border-radius: 4px;
}

.pedidoBoton.activo {
  background-color: var(--color-logo);
  color: #fff;
}
