.contenedor {
  max-width: 480px;
  margin: 0 auto;
  padding: 2rem 1rem;
  background-color: var(--color-background);
  min-height: 100vh;

}


.lista {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.enlace {
  display: block;
  background-color: #f0f0f091;
  text-align: center;
  padding: 0.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-family: var(--font-title);
  font-size: 1.33rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: var(--color-text);
  width: 350px;
  margin: 0 auto;

}


.logo {
  display: flex;
  width: 150px;
  height: auto;
  margin: 0 auto 1rem;
}
.mc {
  display: flex;
  width: 150px;
  height: auto;
  margin: 0 auto 1rem;
  margin-bottom: 2rem;

}
.activo {
  background-color: #fff;
  color: var(--color-logo);
  border: 2px solid var(--color-logo);
  transition: background-color 0.3s, color 0.3s;
}

/* 🔽 Responsive: Ajustes progresivos */

@media (max-width: 675px) {
  .enlace {
    width: 100%;
    font-size: 1.25rem;
    letter-spacing: 5px;
  }
}

@media (max-width: 575px) {
  .enlace {
    font-size: 1.15rem;
    padding: 0.6rem;
    letter-spacing: 4px;
  }

  .logo,
  .mc {
    width: 130px;
  }
}

@media (max-width: 475px) {
  .enlace {
    font-size: 1.05rem;
    letter-spacing: 3px;
  }

  .logo,
  .mc {
    width: 110px;
  }
}

@media (max-width: 370px) {
  .enlace {
    font-size: 0.95rem;
    letter-spacing: 2px;
    padding: 0.4rem;
  }

  .logo,
  .mc {
    width: 100px;
  }
}