.contenedor {
  max-width: 480px;
  margin: 0 auto;
  padding: 2rem 1rem;
  background-color: var(--color-background);
  min-height: 100vh;
}


.lista {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.enlace {
  display: block;
  background-color: #f0f0f091;
  text-align: center;
  padding: 0.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-family: var(--font-title);
  font-size: 1.33rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: var(--color-text);
  width: 350px;
  margin: 0 auto;

}


.logo {
  display: flex;
  width: 150px;
  height: auto;
  margin: 0 auto 1rem;
}
.mc {
  display: flex;
  width: 150px;
  height: auto;
  margin: 0 auto 1rem;
  margin-bottom: 2rem;

}
.activo {
  background-color: #fff;
  color: var(--color-logo);
  border: 2px solid var(--color-logo);
  transition: background-color 0.3s, color 0.3s;
}
