.contenedor {
  max-width: 480px;
  margin: 0 auto;
  padding: 2rem 1rem;
  background-color: var(--color-background);
  min-height: 100vh;
}


.lista {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.enlace {
  display: block;
  background-color: rgb(236, 230, 230);
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-family: var(--font-category);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--color-text);
  transition: background-color 0.2s ease;
}

.enlace:hover {
  background-color: #f0f0f0;
}

.logo {
  display: flex;
  width: 150px;
  height: auto;
  margin: 0 auto 1rem;
}
.mc {
  display: flex;
  width: 150px;
  height: auto;
  margin: 0 auto 1rem;
}
