.contenedor {
  padding: 0 0.5rem;
}

.titulo {
  font-family: var(--font-category);
  font-size: 0.9rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  text-align: center;
  color: white;
}

.lista {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.boton {
  font-family: var(--font-body);
  padding: 0.6rem 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease;
}

.botonSeleccionado {
  background-color: #ddd;
  font-weight: bold;
  border-color: #aaa;
}
