@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Shadows+Into+Light&display=swap');
:root {
  /* 🎨 Colores */
  --color-primary: #ffffff;
  --color-secondary: #ffcc00;
  --color-background: #283926;
  --color-text: #283926;
  --color-logo: #F2CDA0;

  /* 🔤 Tipografías */
  --font-title: 'Shadows Into Light';
  --font-category: 'Open Sans';

  /* 📱 Breakpoints */
  --breakpoint-xs: 370px;
  --breakpoint-sm: 475px;
  --breakpoint-xmd: 575px;
  --breakpoint-md: 675px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: red dotted 1px; */
}
  
